.main {
  padding: 5px 10px;
}

.p-datatable.p-datatable-sm .p-datatable-tbody > tr > td {
  padding:4px 0;
}

.p-toolbar {padding: 5px;}
.p-sidebar-content p {
  font-size: 17px;
  cursor: pointer;
}
.skeleton_wrap {padding: 0 20px 20px 20px;}
.context-menu-wrap {
  max-width: 400px;
  background: white;
  padding: 5px;
  position: absolute;
  z-index: 999;
  border: 1px solid #E9ECEF;
  box-shadow: 0 0 5px rgba(0,0,0,.3);
  display: flex;
  align-items: center;
}
.p-multiselect {
  max-width: 300px;
}

.p-datatable .p-datatable-loading-icon {
  font-size: 4rem;
  color: whitesmoke;
}

.label {
  top: 11px !important;
  font-size: 11px !important;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item-group {
	padding: 0.3rem 1rem;
  color: #333;
  background: lightsteelblue;
  font-weight: 600;
  font-size: 14px;
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-item {
	padding: 0.2rem 1rem;
	color: #333;
	font-size: 14px;
}
.p-multiselect-panel .p-multiselect-header {
	padding: 0.3rem 1rem;
}

.pi {
  font-size: .8rem;
}

.p-multiselect.p-multiselect-chip .p-multiselect-token {
  padding: 0.3rem 0.5rem;
  margin: 1px;
  color: #333;
  font-size: 12px;
}

.p-multiselect-label {
  white-space: normal;
}

.p-multiselect .p-multiselect-clear-icon {
  right: 2rem;
}

.p-multiselect .p-multiselect-trigger {
  width: 2rem;
}
.p-selectbutton .p-component {
  padding: 7px 10px;
}
