.main {
  padding: 5px 10px;
}

.p-datatable.p-datatable-sm .p-datatable-tbody > tr > td {
  padding:4px 0;
}

.p-toolbar {padding: 5px;}
.p-sidebar-content a {
  text-decoration: none;
  font-size: 17px;
}
.skeleton_wrap {padding: 0 20px 20px 20px;}
